<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Localizable.plist
   bus schedule

   Created by Alexandr Nadtoka on 4/12/17.
   Copyright (c) 2017 admin. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
